 body {
   background: linear-gradient(to bottom, #1b2f46, #0d1b2a 25%, #0d1b2a 100%);
   margin: 0;
   padding: 0;
   font-family: 'Segoe UI', sans-serif;
 }

 .navbar * {
   max-height: 100%;
   box-sizing: border-box;
 }

 .navbar {
   height: 59px;
   position: sticky !important;
   top: 0;
   width: 100%;
   z-index: 10;
   background-color: rgba(0, 0, 0, 0.8);
   backdrop-filter: blur(5px);
 }

 .forecast {
   font-family: 'Segoe UI', 'Segoe UI Variable', sans-serif;
   font-weight: 600;
   color: whitesmoke !important;
   letter-spacing: 0.5px;
   margin-right: 1080px;
 }

 .nav-link {
   font-size: 20px !important;
 }

 .nav-link:hover {
   background-color: rgba(128, 128, 128, 0.5);
   cursor: default;
 }

 .refresh svg,
 .favourite svg,
 .search-icon {
   font-size: 25px;
   color: lightgray;
   cursor: pointer;
 }

 .search-input {
   border: none !important;
   background-color: #2a2a2a !important;
 }

 .search-input::placeholder {
   color: lightgray !important;
 }


 .custom-search-input {
   width: 40px;
   padding-right: 35px;
 }

 .search-icon {
   margin-right: 7px;
   margin-top: 2px;
   position: absolute;
   right: 10px;
   top: 50%;
   transform: translateY(-50%);
 }

 .search-input::-webkit-search-cancel-button {
   transform: translateX(-28px);
   font-size: 16px;
 }

 .container-fluid {
   padding-left: 0px !important;
 }

 .Hamburger-btn {
   background-color: #1a1a1a;
   color: whitesmoke;
   width: 51px;
   height: 100%;
   max-height: 100%;
   font-size: 30px;
   padding-bottom: 17px;
   padding-top: 10px;
   margin: 0px;
   border: 0px;
   box-sizing: content-box;
 }

 .Hamburger-btn:hover {
   background-color: rgba(128, 128, 128, 0.5);
   cursor: default;
 }

 .city-button-container {
   position: sticky !important;
   top: 59px;
   display: flex;
   gap: 5px;
   padding: 20px 0 20px 200px;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 10;
   backdrop-filter: blur(5px);
 }

 .city-button {
   margin: 0 5px;
   width: 180px;
   color: whitesmoke !important;
   background-color: rgba(128, 128, 128, 0.5) !important;
   border: 1px solid darkgrey !important;
 }

 .sidebar {
   position: fixed;
   top: 59px;
   width: 59px;
   height: calc(100vh - 59px);
   background-color: #1a1a1a;
   color: #e5e7eb !important;
   z-index: 12;
 }

 .sidebar-animation {
   position: fixed;
   top: 59px;
   width: 200px;
   height: calc(100vh - 59px);
   background-color: #1a1a1a;
   color: lightgray;
   z-index: 11;

   left: 59px;
   transform: translateX(-100%);
   transition: transform 0.3s ease-in-out;
   pointer-events: auto;
   /* Allow interaction */
 }

 .sidebar-animation.show {
   transform: translateX(0);
   pointer-events: auto;
 }

 .allcards {
   margin: 60px 15px 0 193px;
 }

 .my-card1,
 .my-card2,
 .my-card3 {
   border-radius: 12px;
   background-color: #2b3d52;
   color: white !important;
   opacity: 0.6;
   box-shadow: 0 6px 16px rgba(0, 0, 0, 0.7);
 }

 .my-card1 {
   width: 35vw;
   height: 40vh;
   padding: 15px;
 }

 .my-card2 {
   width: 25vw;
   height: 40vh;
 }

 .my-card3 {
   width: 27vw;
   height: 40vh;
 }

 .tab-container {
   margin-left: 340px;
   background: none !important;
   padding: 16px;
   border-radius: 12px;
   box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
   position: relative;
   z-index: 9;
 }

 .nav-tabs {
   border-bottom: none !important;
   margin-left: -40px;
 }

 .nav-tabs .nav-link {
   border-radius: 20px !important;
   padding: 12px;
   margin: 12px 6px 0 6px;
   color: lightgray;
   background-color: #2b3d52;
 }

 .main-subtab:hover {
   background-color: goldenrod !important;
   color: black !important;
   border: none !important;
   font-weight: 600;
 }

 .nav-tabs .nav-link.active {
   background-color: goldenrod !important;
   border: none !important;
   font-weight: 600;
   color: black !important;
 }

 .sub-tab-button {
   position: relative;
   width: 100%;
   aspect-ratio: 1 / 1;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 20px !important;
   font-size: 14px;
   font-weight: 500;
   padding: 0;
   color: darkgray !important;
   border: none !important;
   transition: background-color 0.3s ease, color 0.3s ease;
   background-color: #2b3d52 !important;
   opacity: 0.7;
   box-shadow: 0 6px 16px rgba(0, 0, 0, 0.7);
 }

 .sub-tab-button:hover {
   background-color: #33485F !important;
 }

 .sub-tab-button.active-tab {
   background-color: #33485F !important;
   color: whitesmoke !important;
   box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
   border-bottom-left-radius: 0 !important;
   border-bottom-right-radius: 0 !important;
   height: 148px;
   opacity: 1;
   z-index: 7;
 }

 .sub-tab-container {
   position: relative;
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   column-gap: 18px;
   width: 914px;
   height: 583px;
   margin-left: -173px;
   padding: 18px;
   box-sizing: border-box;
 }

 .extra-button {
   position: absolute;
   grid-column: 1 / -1;
   height: 399px;
   background-color: #33485F !important;
   border: none !important;
   border-radius: 20px !important;
   width: 100%;
   margin-top: 166px;
   opacity: 1;
   box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.5);
   z-index: 7;
 }


 .extra-button.left-rounded {
   border-top-left-radius: 0 !important;
 }

 .extra-button.right-rounded {
   border-top-right-radius: 0 !important;
 }

 .cardbox-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
   padding: 20px;
   width: 956px;
   margin-left: 162px;
   margin-top: -27px;

 }

 .card {
   margin: 10px;
   border-radius: 12px !important;
   background-color: #2b3d52 !important;
   color: whitesmoke !important;
   box-sizing: border-box;
   box-shadow: 0 6px 16px rgba(0, 0, 0, 0.7);
 }

 .card0 {
   grid-column: 1 / span 3 !important;
   height: 80px !important;
 }

 .hour {
   margin-top: 10px;
   margin-left: 200px;
   width: 50px;
 }

 .time-text {
   color: whitesmoke;
 }

 .weather-header {
   display: flex;
   align-items: center;
   font-weight: 500;
 }

 .temperature-text {
   display: flex;
   align-items: center;
   color: white;
   font-size: 92px;
   height: 106px;
   opacity: 1;
   padding-bottom: 16px;
 }

 .refresh svg,
 .favourite svg {
   color: whitesmoke !important;
 }

 .sun-icon {
   color: #FFA500;
   font-size: 106px !important;
   margin-left: -13px;
   margin-top: 0;
   padding: 0px;
   box-sizing: border-box;

 }

 .my-card1-tab {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-top: 56px;
 }

 .sidebar1-buttons,
 .sidebar2-buttons {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   height: calc(100vh - 59px);
   gap: 25px;
   padding-top: 20px;
   box-sizing: border-box;
 }

 .sidebar1-elements {
   width: 100%;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: transparent;
   border: none;
   color: lightgray;
   font-size: 18px;
   cursor: default;
 }

 .sidebar2-elements {
   width: 100%;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   background-color: transparent;
   border: none;
   color: lightgray;
   font-size: 18px;
   cursor: default;
 }

 .sidebar1-buttons,
 .sidebar2-buttons {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   height: calc(100vh - 59px);
   gap: 0px;
   padding-top: 1px;
   box-sizing: border-box;
 }

 .sidebar2-buttons {
   padding-left: 8px;
 }